<html>
  <head>
    <title>Create issue</title>
    <meta name="decorator" content="atl.general">
  </head>
  <body>
    <form id="admin" class="aui" action="" method="POST">
        <div class="field-group">
            <label for="name">Summary:</label>
            <input type="text" id="name" name="name" class="text">
        </div>
        <div class="field-group>
            <label for="project_selection">Project:</label>
            <select id="project_selection" name="project_selection" class="text">
                #foreach($project in $projectManager.getProjectObjects())
                    <option value="${project.getKey()}">${project.getName()}</option>
                #end
            </select>
        </div>
        <div class="field-group">
            <input type="submit" value="Save" class="button">
        </div>
    </form>
    <br/>
    Version: ${pom.version}
  </body>
</html>