

<div class="mod-header">

    
    <h3>This panel allows you to prime the current issue</h3>
    
	<span>Only tasks and Problem Reports (both for demo purpose) , IRFs or PCRs can be primed.</span>
	<span>The user must have adequate issue creation permissions in the target project (TUTORIAL, PCR or SCO).</span>
    <div>
            
            <table border="1px" class="aui">
            	<thead>
            		<tr>
	            		<th>
	            			<div>Issue Key</div>
	            		</th>
	            		<th>
	            			<div>Issue Type</div>
	            		</th>
	            		<th>
	            			<div>Project Name</div>
	            		</th>
	            		<th>
	            			<div>Project Key</div>
	            		</th>
	            		<th>
	            			<div>Current User</div>
	            		</th>
	            		<th>
	            			<div>Fields Configuration is available </div>
	            		</th>
	            		<th>
	            			<div>Issue Type Fields Configuration is available </div>
	            		</th>
	            		<th>
	            			<div>Project Fields Configuration is available </div>
	            		</th>
	            	</tr>
            	</thead>
            	<tbody>
            		<tr>
	            		<td>
	            			<div readonly> $issue.getKey() </div>
	            		</td>
	            		<td>
	            		    <div readonly> $issue.getIssueType().getName() </div>
	            		</td>
	            		<td>
	            			<div readonly> $issue.getProjectObject().getName() </div>
	            		</td>
	            		<td>
	            			<div readonly> $issue.getProjectObject().getKey() </div>
	            		</td>
	            		<td>
	            			<div readonly> $user.getName() </div>
	            		</td>
	            		<td>
	            			<div readonly> $fieldsConfig </div>
	            		</td>
	            		<td>
	            			<div readonly> $issueTypeFieldsConfig </div>
	            		</td>
	            		<td>
	            			<div readonly> $projectFieldsConfig </div>
	            		</td>
	            	</tr>
            	</tbody>
            
            </table>
                        
            <!--  this input has no use as we are not in a html form -->
            <!-- <input type="hidden" name="new" value="y"> -->
            
            <!--This is a comment. Comments are not displayed in the browser -->
            <!-- <input type="submit" class="button" value="Prime this issue"> -->
            
            <table border="1px" class="aui">
            	<thead>
            		<tr>
	            		<th>
	            			<div>Prime a Task in a new Task in the project with key TUTORIAL</div>
	            		</th>
	            		<th>
	            		    <div>Prime a Problem Report from a Rhythm Enabled Project</div>
	            		</th>
	            		<th>
	            			<div>Prime an IRF (issueType=IRF) into a PCR (issueType=PCR)</div>
	            		</th>
	            		<th>
	            			<div>Prime a PCR (issueType=PCR) in a SCO (issueType=SCO)</div>
	            		</th>
	            	</tr>
            	</thead>
            	
            	<tbody>
	            	<tr>
	            		<td>
	            			<div>
	            			 	<!-- add action type as a parameter in the request -->
	            			 	#if ($issue.getIssueType().getName() == "Task")
	            			 		#set( $url = "${baseurl}/plugins/servlet/issuePrime?actionType=new&issueType=$issue.getIssueType().getName()&issueKey=$issue.getKey()" )
									<a href=$url target="_blank">Prime this task</a>
								#end
	            			</div>
	            		</td>
	            		<td>
	            			<div>
	            				#if ($issue.getIssueType().getName() == "Problem Report") 
	            			 		#set( $url = "${baseurl}/plugins/servlet/issuePrime?actionType=new&issueType=Problem+Report&issueKey=$issue.getKey()" )
									<a href=$url target="_blank">Prime this Problem Report</a>
								#end
	            			<div>
	            		</td>
	            		<td>
	            			<div>
	            			 	<!-- add action type as a parameter in the request -->
								<!-- <a href="${baseurl}/plugins/servlet/issuePrime?actionType=new&issueType=IRF&issueKey=$issue.getKey()" target="_blank">Prime this IRF to a PCR</a> -->
	            			</div>
	            		</td>
	            		<td>
	            		<div>
	            			 	<!-- add action type as a parameter in the request -->
								<!-- <a href="${baseurl}/plugins/servlet/issuePrime?actionType=new&issueType=SCO&issueKey=$issue.getKey()" target="_blank">Prime this PCR to a SCO</a> -->
	            			</div>
	            		</td>
	            	</tr>
	            </tbody>
            </table>
           
    </div>
    
</div>