<div class="mod-header">

    <!-- <h3>$i18n.getText('This panel allows you to prime the current issue')</h3> -->
    
    <div>
            
            <table>
            	<tr>
            		<td>
            			<div>Issue Key</div>
            		</td>
            		<td>
            			<div>Issue Type</div>
            		</td>
            		<td>
            			<div>Project Name</div>
            		</td>
            		<td>
            			<div>Current User</div>
            		</td>
            	</tr>
            	<tr>
            		<td>
            			<div readonly> $issue.getKey() </div>
            			<!-- <input id="issueKey" name="issueKey" value="" readonly> -->
            		</td>
            		<td>
            		    <div readonly> $issue.getIssueType().getName() </div>
            		    <!-- <input id="issueType" name="issueType" value="" readonly> -->
            		</td>
            		<td>
            			<div readonly> $issue.getProjectObject().getName() </div>
            			<!-- <input id="project" name="project" value="" readonly> -->
            		</td>
            		<td>
            			<div readonly> $user.getName() </div>
            			<!-- <input id="project" name="project" value="" readonly> -->
            		</td>
            	</tr>
            
            </table>
                        
            <input type="hidden" name="new" value="y">
            
            <!--This is a comment. Comments are not displayed in the browser -->
            <!-- <input type="submit" class="button" value="Prime this issue"> -->
            
			<a href="${baseurl}/plugins/servlet/issuePrime" target="_blank">Prime this issue</a>

    </div>
    
</div>